*{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#week-forecast{
    color: #000000;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    height: 45%;
    padding: 0.5rem;
    align-content: space-between;
    height: 70%;
    background-color: teal;
    color: white;
    justify-content: center;
}

#current-forecast {
    text-align: center;
}

